.DS_Store
*.sublime-project
*.sublime-settings
*.sublime-workspace
build.properties
build.xml
ant-salesforce.jar
retrieveunpackaged
retrieveunpackaged.zip2
npm-debug.log
destructiveChanges.xml
sfdx-project.json
config
resource-bundles/
raw/node_modules/
raw/coverage/
raw/docs/
raw/resources/FieloSalesforce_Backend
